body {
    color: #737373;
    background: white;
    font-size: 14px;
    font-family: Helvetica Neue, sans-serif;
    line-height: 1.3em;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
    -webkit-font-smoothing: subpixel-antialiased;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: #338dbc;
    transition: color 0.2s ease-in-out;
    display: inline-block;
}

a:focus {
    outline: none;
}

a:hover {
    color: #2b78a0;
}

.button-default {
    width: 150px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 0 !important;
    text-transform: uppercase;
    height: 40px;
    line-height: 32px;
    font-size: 13px;
    color: #333333;
    background-color: #ffffff;
    border: 1px solid #333333;
    letter-spacing: 0;
    font-family: inherit;
}
.button-default:hover {
    background: #e63535;
    color: #ffffff;
}

.logo-text {
  color: #333333;
}

.main .main-header .breadcrumb .breadcrumb-item {
    display: inline-block;
    font-size: 0.85714em;
    color: #999999;
}

.main .main-header .breadcrumb .breadcrumb-item.breadcrumb-item-current {
    font-weight: 500;
    color: #4d4d4d;
}

.main .main-footer {
    padding: 1em 0;
    border-top: 1px solid #e6e6e6;
}

/*----------Main Content-----------*/

.section-header {
    margin-bottom: 1em;
}

/*Avatar customer*/
.customer-information {
    display: table;
    box-sizing: border-box;
    width: 100%;
    margin-bottom: 1.5em;
}

.customer-information:after,
.customer-information:before {
    content: "";
    display: table;
}

.customer-information .customer-information-avatar-wrapper {
    display: table-cell;
    padding-right: 1em;
    white-space: nowrap;
    vertical-align: middle;
}

.customer-information .customer-information-avatar-wrapper .customer-information-avatar {
    border-radius: 8px;
    background-size: cover;
    position: relative;
    max-width: none;
    width: 50px;
    height: 50px;
    overflow: hidden;
}

.customer-information .customer-information-avatar-wrapper .customer-information-avatar:before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    background: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI1MCIgaGVpZ2h0PSI1MCIgdmlld0JveD0iMCAwIDUwIDUwIj48dGl0bGU+QXJ0Ym9hcmQ8L3RpdGxlPjxnIGZpbGw9Im5vbmUiIGZpbGwtcnVsZT0iZXZlbm9kZCI+PHBhdGggZD0iTTAgMGg1MHY1MEgwVjB6IiBmaWxsPSIjRDhEOEQ4Ii8+PHBhdGggZD0iTTI1LjEwMyAyNi4yNDJjMy4yMTIgMCA1LjY0Mi0yLjkyIDUuNjQyLTYuNzg3IDAtMy4wODYtMi41OC01LjcwNS01LjY0Mi01LjcwNS0zLjA2IDAtNS42NCAyLjYyLTUuNjQgNS43MDUgMCAzLjg2NiAyLjQzIDYuNzg3IDUuNjQgNi43ODd6bTAtMTAuNTRjMS45NTIgMCAzLjY3OCAxLjc2MyAzLjY3OCAzLjc1MyAwIDIuNzU3LTEuNTc0IDQuODM1LTMuNjc3IDQuODM1LTIuMTAzIDAtMy42NzctMi4wNzgtMy42NzctNC44MzUgMC0xLjk5IDEuNzI2LTMuNzUzIDMuNjc3LTMuNzUzem0tOC40NSAyMC42MTVsLjE3Ny0xLjg3N2MuMzktMy43NzggNC42OTctNC42MSA4LjI3My00LjYxIDMuNTc3IDAgNy44ODQuODMyIDguMjc0IDQuNTk4bC4xNzYgMS44OWgyLjAxNWwtLjE3Ni0yLjA4Yy0uNDQtNC4xMTctNC4wNjgtNi4zODQtMTAuMjktNi4zODQtNi4yMiAwLTkuODQ2IDIuMjY3LTEwLjI4NyA2LjM5N2wtLjE3NiAyLjA2N2gyLjAxNHoiIGZpbGw9IiNGRkYiLz48L2c+PC9zdmc+'), none;
}

.customer-information .customer-information-paragraph {
    display: table-cell;
    width: 100%;
    padding-top: 0.25em;
    vertical-align: middle;
}

/*------------SideBar----------*/
.sidebar {
    color: #717171;
    background-color: #fafafa;
    box-shadow: 0 -1px 0 #e1e1e1 inset;
}

.sidebar h2 {
    color: #323232;
}

/*Table Product*/
.product-table tbody {
    border-top: none;
}

.order-summary-emphasis {
    font-weight: 500;
    color: #4b4b4b;
}

.order-summary-small-text {
    font-size: 0.85714em;
    color: #969696;
}

.product:first-child td {
    padding-top: 0;
}

.product td {
    padding-top: 1em;
}

.product .product-image {
}

.product .product-image .product-thumbnail {
    width: 4.6em;
    height: 4.6em;
    border-radius: 8px;
    background: #fff;
    position: relative;
}

.product .product-image .product-thumbnail .product-thumbnail-wrapper {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    border-radius: 8px;
}

.product .product-image .product-thumbnail .product-thumbnail-wrapper .product-thumbnail-image {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    max-width: 100%;
    max-height: 100%;
    margin: auto;
}

.product .product-image .product-thumbnail .product-thumbnail-quantity {
    font-size: 0.85714em;
    font-weight: 500;
    white-space: nowrap;
    padding: 0.15em 0.65em;
    border-radius: 2em;
    background-color: rgba(153, 153, 153, 0.9);
    color: #fff;
    position: absolute;
    right: -0.75em;
    top: -0.75em;
    z-index: 2;
}

.product .product-image .product-thumbnail::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border-radius: 8px;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1) inset;
}

.product .product-description .product-description-name,
.product .product-description .product-description-variant,
.product .product-description .product-description-property {
    display: block;
}
.product .product-price {
    white-space: nowrap;
}

.sidebar .btn-disabled {
    cursor: default;
    background: #c8c8c8;
    box-shadow: none;
}

/*Table price*/
.total-line-table {
    width: 100%;
}

.total-line td {
    padding-top: 0.75em;
}

.total-line-table-footer .total-line td {
    padding-top: 3em;
    position: relative;
}

.total-line-table-footer .total-line td::before {
    background-color: #e1e1e1;
    content: '';
    position: absolute;
    top: 1.5em;
    left: 0;
    width: 100%;
    height: 1px;
}

.payment-due-label {
}

.payment-due-label .payment-due-label-total {
    font-size: 1.14286em;
    color: #4b4b4b;
}

.payment-due {
}

.payment-due .payment-due-currency {
    font-size: 0.85714em;
    vertical-align: 0.2em;
    margin-right: 0.5em;
    color: #969696;
}

.payment-due .payment-due-price {
    font-size: 1.71429em;
    font-weight: 500;
    letter-spacing: -0.04em;
    color: #4b4b4b;
    line-height: 1em;
}